*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
	scroll-padding-top: 3.5rem;
}
root{
	--bg-color: #101010;
	--secound-bg-color: #191919;
	--text-color: #FFFFFF;
	--secound-color: #c6c9d8bf;
	--main-color: #D4A017;
	--big-font: 5.3rem;
	--h2-font: 4.2rem;
	--p-font: 1.1rem;
}

/* Nav CSS */
header{
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 25px 15%;
	transition-duration: .3s;
}
.logo img{
	max-width: 100%;
	width: 25px;
	height: auto;
}
.navbar{
	display: flex;
	
}
.navbar li{
	position: relative;
	
}
.navbar a{
	color: ;
	font-weight: bold;
	font-size: 1rem;
	padding: 10px 20px;
}
.navbar a::after{
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	background: #D4A017;
	left: 0;
	bottom: -4px;
	transition: ease .40s;
}
.navbar a:hover::after{
	width: 100%;
}
#menu-icon{
	font-size: 32px;
	color: #FFFFFF;
	z-index: 10001;
	cursor: pointer;
	display: none;
}
.h-btn{
	padding: 0 20px;
	height: 40px;
	display: inline-block;
	line-height: 42px;
	background: #D4A017;
	color: #FFFFFF;
	border: none;
	border-radius: 30px;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	transition: all .30s;
}
.h-btn:hover{
	transform: translateY(-5px);
}
/* End Nav CSS */

/* Hero */
section{
	padding: 120px 15%;
}
.home{
	height: 100vh;
	width: 100%;
	background: url(PicOfResto.jpeg);
	background-size: cover;
	background-position: center;
	position: relative;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	align-items: center;
}
/* End Hero*/

/* JS */
header.sticky{
	padding: 12px 15%;
	background: #D4A017;
}
.sticky .navbar a::after{
	background: #FFFFFF;
}
.sticky .h-btn{
	background: #FFFFFF;
	color: #000000;
}
/* End JS */

/* About */
.about{
	background: #191919;
	display: grid;
	grid-template-columns: repeat(2, 2fr);
	align-center: center;
	grid-gap: 2rem;
}
.about-img img{
	max-width: 100%;
	width: 500px;
	height: auto;
	border-radius: 10px;
}
.about-text h2{
	font-size: 4.2rem;
	margin-bottom: 20px;
}
.about-text h5{
	font-size: 28px;
	margin-bottom: 25px;
	letter-spacing: 2px;
}
.about-text p{
	color: #c6c9d8bf;
	letter-spacing: 1px;
	line-height: 28px;
	max-width: 590px;
	font-size: 1.1rem;
	margin-bottom: 45px;
}
.btn{
	display: inline-block;
	background: #D4A017;
	color: #FFFFFF;
	border: 2px solid transparent;
	font-weight: 600;
	padding: 13px 30px;
	border-readius: 30px;
	transition: ease .35s;
}
.btn:hover{
	transform: translateY(-8px);
	border: 2px solid #D4A017;
	background: transparent;
}
/* End About */

/* Footer */
.footer{
	background-color: #FFFFFF;
	padding: 20px 35px;
	color: #D4A017;
	text-align: center;
}
.address{
	color: #D4A017;
	text-align: center;
}
/* End Footer */
