*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
	list-style: none;
	text-decoration: none;
}
/* Navbar */
header{
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #FFFFFF;
	padding: 25px 7%;
}
.logo img{
	max-width: 100%;
	width: 25px;
	height: auto;
}
.navbar{
	display: flex;
}
.navbar li{
	position: relative;
}
.navbar a{
	color: #000000;
	font-weight: 500;
	font-size: 1rem;
	padding: 10px 20px;
}
.navbar a{
	color: #000000;
	font-weight: 500;
	font-size: 1rem;
	padding: 10px 20px;
}
.navbar a::after{
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	background: #D4A017;
	left: 0;
	bottom: -4px;
	transition: ease .42s;
}
.navbar a:hover::after{
	width: 100%;
}
#menu-icon{
	font-size: 30px;
	color: #000000;
	cursor: pointer;
	z-index: 10001;
	display: none;
}
/* Start Home */
section{
	padding: 120px 15%;
}
.home{
	height: 100vh;
	width: 100%;
	background: url(PicOfResto.jpeg);
	background-size: cover;
	background-position: center;
	position: relative;
	display: grid;
	grid-template-columns: repeat (1, 1fr);
	align-items: center;
}
/* Image */
.AboutMenu{
	width: 100%;
	padding: 78px 0px;
	background-color: #FFFFFF;
}
.AboutMenu img{
	height: auto;
	width: 420px;
}
.AboutMenu-Text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.AboutMenu-Text h1{
	color: #D4A017;
	font-size: 80px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.AboutMenu-Text p{
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
button{
	background-color: #D4A017;
	color: black;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s;
}
button:hover{
	background: transparent;
	border: 2px solid #D4A017;
	cursor: pointer;
}
.service{
	background: #FFFFFF;
	width: 100%;
	padding: 100px 0px;
}
.title h2{
	color: #D4A017;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #FFFFFF;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #FFFFFF;
}
h5{
	color: #D4A017;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.card i .button{
	background-color: #D4A017;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4;
}
.card i .button:hover{
	background: transparent;
	border: 2px solid #D4A017;
	cursor: pointer;
}
/* Footer */
.footer{
	background-color: #FFFFFF;
	padding: 20px 35px;
	color: #D4A017;
	text-align: center;
}
.address{
	color: #D4A017;
	text-align: center;
}
